<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h2>Add Club</h2>
<form th:action="@{/home/clubs/addclub}" th:method="POST">
    <label >Name:  </label><input type="text" th:name="clubname"><br>
    <label >Home Court:  </label><input type="text" th:name="homecourt"> <br>
    <label >Adress:  </label><input type="text" th:name="adresa"> <br>
    <label >Sponsor:  </label><input type="text" th:name="sponzor"> <br>
    <input type="submit" th:value="Submit">
</form>


</body>
</html>