<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Club PLayers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<h2>All Coaches</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Type</th>
        <th scope="col">Club</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="coach : ${coachList}">
        <td th:text="${coach.getIme()}" ></td>
        <td th:text="${coach.getPrezime()}" ></td>
        <td th:text="${coach.getTipNaTrener()}" ></td>
        <td th:text="${coach.getImeklub()}" ></td>
        <td class="text-right">
            <a th:href="@{'/home/coaches/delete/{id}' (id=${coach.getEmbg()})}" type="" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i></a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{'/home'}"   class="btn btn-sm btn-info"><i class="fa fa-trash">Home</i></a>


</body>
</html>